@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@keyframes bobalhao{
    0% {
    transform: translateY(0px);
    }
    100% {
    transform: translateY(5px);
}
}
body {
    font-family: 'Caveat', cursive;
    overflow-x: hidden;
    background: #e9e9e9;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
header{
    background: #887f7f;
    padding: 1px;
}
h1 {
    
    text-align: center;
}
#burgao {
    background-color: rgb(106, 99, 99);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}
#burgao:hover {
    background-color: rgb(141 138 138);
    color: black;
}
menu {
    margin: 0;
    display: none;
    background-color: whitesmoke;
    padding: 5px;
    list-style-type: none;
}
a {
    display: block;
    text-decoration: none;
    width: 17vw;
    height: 3vh;
}
article { 
    text-align: center;
    width: 100vw;
}
footer {
    background: url(Monoel.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    padding: 40px;
    height: auto;
}
#sigma {
    font-size: 20px;
}